.hero-body {
  padding: 8rem 1.5rem;
}
.card-content h3 {
  text-align: center;
}
.table-profile td, th {
  border: none !important;
}
.table-profile td:first-of-type {
  font-weight: bold;
}
.skills-content {
  height: 100%;
}
.skills-content .media {
  padding: 4px !important;
  border: 0 !important;
}
.custom-tags {
  text-align: center !important;
  display: block;
}
.portfolio-container .card {
  margin-bottom: 2em;
}
.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 4em;
}
form select {
  width: auto !important;
}